<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ConListServlet</servlet-name>
        <servlet-class>com.company.web.ConListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConListServlet</servlet-name>
        <url-pattern>/ConListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConAddServlet</servlet-name>
        <servlet-class>com.company.web.ConAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConAddServlet</servlet-name>
        <url-pattern>/ConAddServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConDelServlet</servlet-name>
        <servlet-class>com.company.web.ConDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConDelServlet</servlet-name>
        <url-pattern>/ConDelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConQueryServlet</servlet-name>
        <servlet-class>com.company.web.ConQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConQueryServlet</servlet-name>
        <url-pattern>/ConQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConUpdateServlet</servlet-name>
        <servlet-class>com.company.web.ConUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConUpdateServlet</servlet-name>
        <url-pattern>/ConUpdateServlet</url-pattern>
    </servlet-mapping>

</web-app>