<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>web.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listFile</servlet-name>
        <servlet-class>web.ListFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listFile</servlet-name>
        <url-pattern>/listFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>web.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
</web-app>